<div class="d-flex justify-content-between m-3">
    <h4>Update Department</h4>
    <button mat-button (click)="onClose()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div style="overflow: auto; height: 450px;">
        <form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">
            <div class="m-3 input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Department ID</span>
                  </div>
                  <input readonly="readonly" type="text"
              class="form-control"
              name="departmentsID"
              #departmentsID="ngModel"
              [(ngModel)]="service.formData.departmentsID">
            </div>
            <div class="m-3 input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">Department Name</span>
                </div>
                <input required minlength="2" type="text"
                class="form-control"
                name="departmentsName"
                #departmentsName="ngModel"
                [(ngModel)]="service.formData.departmentsName">
              </div>
              <div class="text-left text-danger"
              *ngIf="departmentsName.invalid && departmentsName.touched">
              Please enter Department name.
            </div>
            <button class="m-3" mat-raised-button
            color="primary" type="submit"
            [disabled]="form.invalid" >Update Department</button>
        </form>
    </div>